@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

/*remove blue border on click*/
*:focus {
  outline: 0;
  outline: none;
}

.welcome-section {
  margin-left: 20px;
  margin-right: 20px
}

.header {
  display: flex;
  /*height: 100px;*/
  position: fixed;
  width: 100%;
  z-index: 10;
  transition: height 0.3s;
}

.header-background {
  background-color: #424242;
  padding: 0px 4px;
  color:white;
}

.logo-margin {
  margin-bottom: 10px;
}

#skills, #portfolio {
  padding-top: 70px
}

.skills {
  padding-bottom: 6em;
  background-color: #e2e2e2;
}

.skills svg, .skills img {
  width: 100%;
  padding: 10px;
}

.skill-logo {
  font-size: 10em;
}

.portfolio-container {
    text-align: center;
    color: black;
}

.portfolio-wrapper {
  width: 100%;
}

.title, .title-below {
    font-weight: bold;
}

.title-below {
    margin-top: 10px;
}

.fill-img {
  width: 100%;
}

.img-wrap {
  position: relative; 
}

.img-description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}


.img-wrap:hover .img-description {
  visibility: visible;
  opacity: 1;
  color: white;
}

.portfolio-icons a {
    font-size: .8em;
    color: white;
    text-decoration: underline;
}

.img-description {
  text-align: center;
}

.title {
  margin-bottom: 20%;
}

.description {
  margin-top: 10%;
  margin-bottom: 15%;

}

.portfolio-icons {
  display: inline; 
  margin: 5px;
}

#linkedin{	
	height:25px;
}

.img-responsive {
  margin: 0 auto;
}

#headline{
    font-size: 38px;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 44px;
    color: #333;
    font-weight: bold;
}

#portfolio {
  padding-bottom: 10px;
  background-color: #f3f3f3; 
}

#profilePic {
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background: #FFF;
    position: relative;
    display: block;
    border-radius: 50%;
    height: 300px;
    max-width: 300px;
    overflow: hidden; 
    background-image: url("../img/portfolio/darren_profile.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 180%;
}

body {
	background-color: #ffffff;
	font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #555;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

h1 {
  font-size: 24px;
  padding-top: 30px;
  margin-bottom: 30px;
  color:white;
  letter-spacing: .6em;
  /*padding: 30px; */  
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #333;
}

/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 16px;
}

.centered {
    text-align: center;
}

.light-blue{
    color: #157EF4;
}

/* Links */
a {
  color: #157EF4;
  word-wrap: break-word;

  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.navbar {
  height:100%;
	text-transform: uppercase;
	margin-bottom: 0px;
  border-radius: 0px;
}

.navbar-header {
  vertical-align: middle
}

.navbar li {
  line-height: 26px;
  display: inline-block;
}

.navbar-inverse {
  width: 100%;
	background-color: #157EF4;
	border-color: #16a085;
}

.navbar-inverse .container {
  align-self: center;
}

.navbar-inverse .navbar-nav > li > a {
	color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
	color: #222222;
}

.navbar-brand {
	font-weight: 700;
	font-size: 20px;
	letter-spacing: 2px;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-inverse .navbar-toggle {
	border-color: transparent;
}

.progress-bar-theme {
  background-color: #1abc9c;
}


/* Helpers */

.mt {
	margin-top: 40px;
	margin-bottom: 40px;
}

.pt {
	padding-top: 50px;
	padding-bottom: 50px;
}


/* +++++ WRAP SECTIONS +++++ */

#ww {
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #f3f3f3;
}

.fa {
  font-size: 30px;
}

#footer {
	background-color: #2f2f2f;
	padding-top: 55px;
	padding-bottom: 100px; 
}

#footer p {
	color: white;
}

#footer h4 {
	color: white;
	text-transform: uppercase;
	padding-bottom: 20px;
}

.footer-contact {
  padding: 0;
}

.footer-contact li {
  padding: 0 10px;
  display: inline-block;
  list-style-type: none;
}

.footer-contact > li > a {
  color: white;
}

.footer-contact > li > a:hover {
  color: #157EF4;
}

@media (min-width: 992px) {
  .fill-img {
    height: 254px;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .fill-img {
    min-height: 280px;
    width: 100%;
  }
}

@media (min-width: 768px) {
  
  h1 {
    font-size: 35px;
    padding-top: 30px;
    margin-bottom: 30px;
    color:white;
    letter-spacing: .8em;
    padding: 30px;   
  }

  #ww {
    padding-top: 200px;
    padding-bottom: 180px;
    background-color: #f3f3f3;
  }

  .navbar-inverse {
    display: flex;
    width: 100%;
    background-color: #157EF4;
    border-color: #16a085;  
  }

  .header {
    display: flex;
    height: 100px;
    position: fixed;
    width: 100%;
    z-index: 10;
    transition: height 0.3s;
  }

  #skills, #portfolio {
    padding-top: 65px
  }

  .skills svg, .skills img {
    width: 60%;
    padding: 10px;
  }

  header.smaller {
  height: 50px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  }

  header.smaller .navbar-brand{
    font-size: 18px;
  }

  header.smaller nav a {
    line-height: 75px;
  }
}